<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>CSS Layout</h1>
    <h2>Box-Sizing Property Example</h2>
    <div class="box-content">
        <p>Content</p>
    </div>
    <br>

    <div class="box-border">
        <p>Border Box</p>
    </div>
    <br>

    <h2>Display Property Example</h2>
    <div class="block">Block Element</div>
    <span class="inline">Inline Element</span>
    <div class="inline-block">Inline-Block Element</div>
    <br><br>

    <h2>Positioning Elements Example</h2>

    <div class="sticky">Sticky Position</div>

    <div class="static">Static Position</div>
    
    <div class="relative">Relative Position</div>
    
    <div class="absolute">Absolute Position</div>
    
    <div class="fixed">Fixed Position</div>
    <br><br>

    <h2>Floats and Clearing Floats</h2>

    <div>
        <div class="float-right">Float-Right</div>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quam ullam sequi. Praesentium delectus molestias voluptatem. Tempore temporibus dolorum magnam iusto, ea, ipsum esse, quae debitis aut ratione voluptatum perspiciatis et! Ipsum sunt laudantium quis voluptatum, repudiandae eligendi beatae, dolorum magni minima impedit dignissimos accusamus officia aliquam ratione. Voluptatibus, temporibus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores incidunt, omnis rerum veniam fuga ea repellat molestias molestiae harum aut architecto animi, sed quia. Reiciendis ab reprehenderit iusto eum voluptate distinctio earum minus eveniet, qui corrupti exercitationem explicabo sit nostrum sunt quasi aspernatur, vero minima itaque omnis! Nemo, cupiditate quibusdam.
    </div>

    <div>
        <div class="float-left">Float Left</div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus officiis cum modi excepturi sunt necessitatibus nesciunt dolorum voluptatibus aperiam perspiciatis! Dolorum magni accusantium quo, aliquid officiis inventore eius sequi nam voluptas obcaecati ea minima! Quidem deleniti recusandae quam iure nesciunt deserunt distinctio iusto ipsum laboriosam autem, sit culpa labore 
      

        <div class="clear-float">Clear Floats</div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla esse illum id soluta veniam accusamus repellat dolorum explicabo rerum alias. Dolorem ipsum ratione enim assumenda itaque adipisci incidunt commodi iste consequuntur, aspernatur obcaecati molestias iure saepe facere dignissimos perspiciatis officia veritatis at, corporis deleniti. Neque maxime quas rerum quod exercitationem!
    </div>
    <br>

    <h2>Centering Elements Example</h2>

    <div class="parent-box">
        <div class="center-horizontal">
            <p style="margin:0 auto;">This box is horizontally centered.</p>
        </div>
    </div>

    <div class="parent-box center-vertical">
        <div>
            <p>This box is vertically centered.</p>
        </div>
    </div>

    <div class="parent-box center-horizontal-vertical">
        <div>
            <p>This text is vertically and horizontally centered</p>
        </div>
    </div>











    <br><br><br><br><br>


    
</body>
</html>